#container{
	width:1200px;
	margin:0 auto;}
#container > span{
	display:block;
	height:32px;
	font:12px/32px "宋体";}
#container > span a{
	font:12px/32px "宋体";}
#container > span a:hover{
	color:#F00;}

/*    选项卡开始    */
.modify{
	width:973px;
	margin-right:2px;
	float:right;}
.modify .subnav{
	width:973px;
	height:38px;
	border-bottom:2px solid #dfdfdf;}
.modify .subnav li{
	height:16px;
	border-bottom:2px solid #dfdfdf;
	float:left;
	font-size:16px;
	padding:12px 10px 10px;
	margin-right:86px;}
.modify .subnav .li_new{
	border-bottom:2px solid #f00;}
.modify > div{
	width:973px;
	display:none;}
/*    选项卡结束    */

.modify .myorder{
	width:973px;}
.modify .myorder .search{
	display:block;
	width:952px;
	height:68px;
	border:1px solid #dcdcdc;
	margin-top:30px;}
.modify .myorder .search table{
	width:907px;
	height:68px;
	margin-left:20px;}
.modify .myorder .search table input{
	width:163px;
	height:21px;
	border:1px solid #dcdcdc;}
.modify .myorder .search table select{
	border-width:1px;
	border-style:solid;
	border-color:#000 #000 #d4d0c8;}
.modify .myorder .search table .sub{
	width:47px;
	height:24px;
	background:#f00;
	color:#fff;
	cursor:pointer;}
.modify .myorder .search table .sub:hover{
	background:#f60;}

/*      订单开始      */
.order{
	width:973px;
	border:1px solid #dfdfdf;
	margin-top:33px;
	float:right;	}
.order ul{
	width:973px;
	height:42px;}
.order ul li{
	height:30px;
	font:14px/30px "宋体";
	float:left;
	margin:6px 110px 0 15px;}
.order ul .bold{
	font-family:"微软雅黑";
	font-weight:bold;}
.order > div{
	width:973px;
	height:100px;
	border-top:1px solid #dfdfdf;}
.order div .article{
	width:300px;
	height:60px;
	margin-left:60px;
	margin-top:20px;
	float:left;}
.order div .article img{
	float:left;
	margin-right:9px;}
.order div .article a{
	font-size:12px;
	font-family:"宋体";
	color:#333;}
.order div .article a:hover{
	text-decoration:underline;}
.order div .article p{
	font:12px/20px "宋体";
	color:#666;
	line-height:20px;}
.order div .article p span{
	font-family:"宋体";
	font-size:14px;
	font-weight:bold;}
.order div .price{
	width:272px;
	text-align:center;
	float:left;
	padding-top:20px;}
.order div .price p{
	font:14px/16px "宋体";
	font-weight:bold;
	color:#333;}
.order div .price .del{
	font-size:12px;
	text-decoration:line-through;
	color:#666;}
.order div .but{
	width:90px;
	float:left;
	padding-top:20px;}
.order div .but .paid{
	width:90px;
	height:25px;
	background:#f00;
	color:#fff;
	font:14px/25px "宋体";
	font-weight:bold;
	cursor:pointer;}
.order div .but .paid:hover{
	background:#F60;}
.order div .but .cancel{
	width:60px;
	height:15px;
	background:none;
	color:#848484;
	font:12px/15px "宋体";
	font-weight:bold;
	cursor:pointer;
	margin:10px 15px;}
.order div .but .cancel:hover{
	color:#000;}
.order div .detail a{
	display:block;
	width:55px;
	height:15px;
	margin:20px 20px;
	font:12px/15px "宋体";
	color:#848484;
	font-weight:bold;
	float:right;}
.order div .detail a:hover{
	color:#000;}
/*      订单结束      */

.submenu{
	float:right;
	margin:56px 0;}
.submenu li{
	width:24px;
	height:21px;
	border:1px solid #dfdfdf;
	color:#4c4c4c;
	float:left;
	text-align:center;
	line-height:21px;
	margin:0 6px;
	font-size:12px;	}
.submenu .li_new{
	background:#F00;
	color:#FFF;}
.submenu input{
	width:43px;
	height:23px;
	border:1px solid #dfdfdf;
	color:#4c4c4c;
	background:none;
	float:left;
	margin:0 6px;
	font-size:12px;
	text-align:center;
	cursor:pointer;}
.submenu span{
	float:left;}

